/* https://www.w3schools.com/howto/howto_css_loader.asp */

.loader {
    display: inline-block;
    border: 8px solid #D3D3D3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
