.heading {
  font-size: 24px;
}

.icon {
  color: grey;
  padding: 8px;
}

.drop-input {
  display: block;
  padding: 8px;
}

.question-input {
  padding: 8px;
  width: 45%;
}

.errorMessage {
  color: red;
}
